/* Gradiente*/
@keyframes Gradient {
0% {
     background-position: 0% 50%
   }
50% { 
     background-position: 100% 50%
   }
100% {
  background-position: 0% 50%
  }
}

/* Movimiento */

@-webkit-keyframes scrollBad {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -320px;
  }
}
@keyframes scrollBad {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -320px;
  }
}

.movimientobg {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 3rem;
  height: 25%;
  background-image: url("../img/bg.svg");
  background-position: center center;
  background-size: 500px;
  -webkit-animation: scrollBad 30s linear infinite;
  animation: scrollBad 20s linear infinite;
}

